<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--<typeAlias alias="EnumIntegerHandler" type="com.pajk.trademanage.dal.model.enums.EnumIntegerHandler"/>-->
        <!--<typeAlias alias="EnumStringHandler" type="com.pajk.trademanage.dal.model.enums.EnumStringHandler"/>-->
        <typeAlias alias="EnumTypeHandler" type="org.apache.ibatis.type.EnumTypeHandler"/>
        <typeAlias alias="EnumOrdinalTypeHandler" type="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <typeAlias alias="SqlDateTypeHandler" type="org.apache.ibatis.type.SqlDateTypeHandler"/>
    </typeAliases>
</configuration>